// <copyright file="CashBalancesApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// CashBalancesApi.
    /// </summary>
    public class CashBalancesApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="CashBalancesApi"/> class.
        /// </summary>
        internal CashBalancesApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// **Deprecated.** Use `GET /account_groups/{account_group_id}/payments/cash_balances/{currency}` instead.
        /// Returns the account group's cash balance.
        /// </summary>
        /// <param name="accountGroupId">Required parameter: The unique identifier of the account group. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <returns>Returns the ApiResponse of Models.AccountGroupsPaymentsCashBalanceResponse response from the API call.</returns>
        [Obsolete]
        public ApiResponse<Models.AccountGroupsPaymentsCashBalanceResponse> RetrieveCashBalance(
                Guid accountGroupId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1)
            => CoreHelper.RunTask(RetrieveCashBalanceAsync(accountGroupId, upvestClientId, upvestApiVersion));

        /// <summary>
        /// **Deprecated.** Use `GET /account_groups/{account_group_id}/payments/cash_balances/{currency}` instead.
        /// Returns the account group's cash balance.
        /// </summary>
        /// <param name="accountGroupId">Required parameter: The unique identifier of the account group. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountGroupsPaymentsCashBalanceResponse response from the API call.</returns>
        [Obsolete]
        public async Task<ApiResponse<Models.AccountGroupsPaymentsCashBalanceResponse>> RetrieveCashBalanceAsync(
                Guid accountGroupId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountGroupsPaymentsCashBalanceResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/account_groups/{account_group_id}/payments/cash_balance")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account_group_id", accountGroupId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the list of cash balances held by the account group.
        /// See the Cash balances guide ([TOL](https://docs.upvest.co/products/tol/guides/payments/cash_balances/cash_balances_intro) / [BYOL](https://docs.upvest.co/products/byol/guides/payments/cash_balances/cash_balances_intro)) for how `balance`, `locked_for_trading`, `pending_settlement`, `available_for_withdrawal`, and `available_for_trading` relate to each other.
        /// </summary>
        /// <param name="accountGroupId">Required parameter: The unique identifier of the account group. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <returns>Returns the ApiResponse of Models.CashBalancesRetrieveResponse response from the API call.</returns>
        public ApiResponse<Models.CashBalancesRetrieveResponse> RetrieveCashBalances(
                Guid accountGroupId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1)
            => CoreHelper.RunTask(RetrieveCashBalancesAsync(accountGroupId, upvestClientId, upvestApiVersion));

        /// <summary>
        /// Returns the list of cash balances held by the account group.
        /// See the Cash balances guide ([TOL](https://docs.upvest.co/products/tol/guides/payments/cash_balances/cash_balances_intro) / [BYOL](https://docs.upvest.co/products/byol/guides/payments/cash_balances/cash_balances_intro)) for how `balance`, `locked_for_trading`, `pending_settlement`, `available_for_withdrawal`, and `available_for_trading` relate to each other.
        /// </summary>
        /// <param name="accountGroupId">Required parameter: The unique identifier of the account group. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CashBalancesRetrieveResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.CashBalancesRetrieveResponse>> RetrieveCashBalancesAsync(
                Guid accountGroupId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CashBalancesRetrieveResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/account_groups/{account_group_id}/payments/cash_balances")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account_group_id", accountGroupId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the account group's cash balance for the given `currency`.
        /// See the Cash balances guide ([TOL](https://docs.upvest.co/products/tol/guides/payments/cash_balances/cash_balances_retrieving) / [BYOL](https://docs.upvest.co/products/byol/guides/payments/cash_balances/cash_balances_retrieving)) for implementation details.
        /// </summary>
        /// <param name="accountGroupId">Required parameter: The unique identifier of the account group. Universally Unique Identifier (UUID)..</param>
        /// <param name="currency">Required parameter: The [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) alphabetic currency code identifying the cash balance (e.g. `EUR`)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <returns>Returns the ApiResponse of Models.AccountGroupsPaymentsCashBalancesResponse response from the API call.</returns>
        public ApiResponse<Models.AccountGroupsPaymentsCashBalancesResponse> RetrieveCashBalanceWithCurrency(
                Guid accountGroupId,
                Models.Currency1 currency,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1)
            => CoreHelper.RunTask(RetrieveCashBalanceWithCurrencyAsync(accountGroupId, currency, upvestClientId, upvestApiVersion));

        /// <summary>
        /// Returns the account group's cash balance for the given `currency`.
        /// See the Cash balances guide ([TOL](https://docs.upvest.co/products/tol/guides/payments/cash_balances/cash_balances_retrieving) / [BYOL](https://docs.upvest.co/products/byol/guides/payments/cash_balances/cash_balances_retrieving)) for implementation details.
        /// </summary>
        /// <param name="accountGroupId">Required parameter: The unique identifier of the account group. Universally Unique Identifier (UUID)..</param>
        /// <param name="currency">Required parameter: The [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) alphabetic currency code identifying the cash balance (e.g. `EUR`)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountGroupsPaymentsCashBalancesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountGroupsPaymentsCashBalancesResponse>> RetrieveCashBalanceWithCurrencyAsync(
                Guid accountGroupId,
                Models.Currency1 currency,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountGroupsPaymentsCashBalancesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/account_groups/{account_group_id}/payments/cash_balances/{currency}")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account_group_id", accountGroupId))
                      .Template(template => template.Setup("currency", CoreHelper.JsonSerialize(currency).Trim('\"')))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}