// <copyright file="TransactionFeesConfigurationsApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// TransactionFeesConfigurationsApi.
    /// </summary>
    public class TransactionFeesConfigurationsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransactionFeesConfigurationsApi"/> class.
        /// </summary>
        internal TransactionFeesConfigurationsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Assigns a transaction fee model to an account group for a transaction category.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="authorization">Required parameter: Bearer (access) token from the OAuth flow with correct scopes. https://datatracker.ietf.org/doc/html/rfc6750.</param>
        /// <param name="signature">Required parameter: https://tools.ietf.org/id/draft-ietf-httpbis-message-signatures-01.html#name-the-signature-http-header.</param>
        /// <param name="signatureInput">Required parameter: https://tools.ietf.org/id/draft-ietf-httpbis-message-signatures-01.html#name-the-signature-input-http-he.</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransactionFeeAccountGroupConfiguration response from the API call.</returns>
        public ApiResponse<Models.TransactionFeeAccountGroupConfiguration> CreateTransactionFeeAccountGroupConfiguration(
                Guid upvestClientId,
                string authorization,
                string signature,
                string signatureInput,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.TransactionFeeAccountGroupConfigurationCreateRequest body = null)
            => CoreHelper.RunTask(CreateTransactionFeeAccountGroupConfigurationAsync(upvestClientId, authorization, signature, signatureInput, upvestApiVersion, body));

        /// <summary>
        /// Assigns a transaction fee model to an account group for a transaction category.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="authorization">Required parameter: Bearer (access) token from the OAuth flow with correct scopes. https://datatracker.ietf.org/doc/html/rfc6750.</param>
        /// <param name="signature">Required parameter: https://tools.ietf.org/id/draft-ietf-httpbis-message-signatures-01.html#name-the-signature-http-header.</param>
        /// <param name="signatureInput">Required parameter: https://tools.ietf.org/id/draft-ietf-httpbis-message-signatures-01.html#name-the-signature-input-http-he.</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransactionFeeAccountGroupConfiguration response from the API call.</returns>
        public async Task<ApiResponse<Models.TransactionFeeAccountGroupConfiguration>> CreateTransactionFeeAccountGroupConfigurationAsync(
                Guid upvestClientId,
                string authorization,
                string signature,
                string signatureInput,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.TransactionFeeAccountGroupConfigurationCreateRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransactionFeeAccountGroupConfiguration>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction_fees/configurations")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("Authorization", authorization).Required())
                      .Header(header => header.Setup("signature", signature).Required())
                      .Header(header => header.Setup("signature-input", signatureInput).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Conflict. An operation is not available for the current state of the resource.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update the fee model assigned by an existing transaction fee account group configuration.
        /// </summary>
        /// <param name="transactionFeeAccountGroupConfigurationId">Required parameter: The unique identifier of the transaction fee account group configuration. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="authorization">Required parameter: Bearer (access) token from the OAuth flow with correct scopes. https://datatracker.ietf.org/doc/html/rfc6750.</param>
        /// <param name="signature">Required parameter: https://tools.ietf.org/id/draft-ietf-httpbis-message-signatures-01.html#name-the-signature-http-header.</param>
        /// <param name="signatureInput">Required parameter: https://tools.ietf.org/id/draft-ietf-httpbis-message-signatures-01.html#name-the-signature-input-http-he.</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransactionFeeAccountGroupConfiguration response from the API call.</returns>
        public ApiResponse<Models.TransactionFeeAccountGroupConfiguration> UpdateTransactionFeeAccountGroupConfiguration(
                Guid transactionFeeAccountGroupConfigurationId,
                Guid upvestClientId,
                string authorization,
                string signature,
                string signatureInput,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.TransactionFeeAccountGroupConfigurationUpdateRequest body = null)
            => CoreHelper.RunTask(UpdateTransactionFeeAccountGroupConfigurationAsync(transactionFeeAccountGroupConfigurationId, upvestClientId, authorization, signature, signatureInput, upvestApiVersion, body));

        /// <summary>
        /// Update the fee model assigned by an existing transaction fee account group configuration.
        /// </summary>
        /// <param name="transactionFeeAccountGroupConfigurationId">Required parameter: The unique identifier of the transaction fee account group configuration. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="authorization">Required parameter: Bearer (access) token from the OAuth flow with correct scopes. https://datatracker.ietf.org/doc/html/rfc6750.</param>
        /// <param name="signature">Required parameter: https://tools.ietf.org/id/draft-ietf-httpbis-message-signatures-01.html#name-the-signature-http-header.</param>
        /// <param name="signatureInput">Required parameter: https://tools.ietf.org/id/draft-ietf-httpbis-message-signatures-01.html#name-the-signature-input-http-he.</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransactionFeeAccountGroupConfiguration response from the API call.</returns>
        public async Task<ApiResponse<Models.TransactionFeeAccountGroupConfiguration>> UpdateTransactionFeeAccountGroupConfigurationAsync(
                Guid transactionFeeAccountGroupConfigurationId,
                Guid upvestClientId,
                string authorization,
                string signature,
                string signatureInput,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.TransactionFeeAccountGroupConfigurationUpdateRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransactionFeeAccountGroupConfiguration>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/transaction_fees/configurations/{transaction_fee_account_group_configuration_id}")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("transaction_fee_account_group_configuration_id", transactionFeeAccountGroupConfigurationId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("Authorization", authorization).Required())
                      .Header(header => header.Setup("signature", signature).Required())
                      .Header(header => header.Setup("signature-input", signatureInput).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Conflict. An operation is not available for the current state of the resource.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}